{% extends 'Tweet/base.html' %}
{% block content %}



<style>
h1
{
	font-weight:bold;
	color:white;
	font-size:50px;
	margin-left:3%;
}
h3
{

	color:white;
	font-weight:bold;
}
p{
	over-flow:none;
}
h2
{
	color:white;
	font-weight:bold;
}
</style>
<div>
	<div style="padding-left:0px;padding-bottom:10vh; display:grid;">

	
	{% for obj in objs %}
	<div style="padding-left:0px;padding-bottom:10vh; display:grid;">

	<p>hostel name:{{ obj.Hostel_Name }}</p>
	<p>hostel ratings:{{ obj.ratings }}</p>
	<p>hostel total: {{obj.total}}</p>
	<p> ------------------------------</p>
	<br>
	{% endfor %}
	<div ><h3></h3>  <a href="/hostel_create">Create Hostel</a></h3>  </div>
</div>
</div>

	
</div>
	 




{% endblock %}
